// Colors
$primary: #1c86ab;
$cyan: #35d6ed;
$cyanF: #23a0c4;
$buttonText: #05506d;
$fullWhite: #fff;
$borderLight: #c2c7cf;
$backgroundColor: #f5f6f8;
$primaryTheme: #38d8ec;
$actionColor: #ea8f0c;
$gradientColor: linear-gradient(180deg, #924990 0%, #B93D45 100%);

// Fonts
$poppins: "Poppins", sans-serif;
$arial: "Arial", sans-serif;

// FontWeight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$sidebarWidth: 300px;

$cyanHeader: #38d8ec;
$blueHeader: #1c86ab;
$blackLightHeader: #424242;
$blueDarktext: #05506d;
